@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300italic,500,500italic,100italic,300,100,700italic);

body
{
	font-family: "Roboto", Helvetica, Arial,sans-serif;
	font-size: 12px;
	font-weight: 400 ; 
	margin: 0;
	padding: 0;
	overflow: hidden;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	color: #222;
}

.imagepreloader {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}


.banner-logo
{
	display: table-cell;
	cursor: pointer;
	background-image: url(/images/g.png); 
	background-repeat: no-repeat;
    background-position: center;
    background-color:#16a085;
	height: 48px;
	width: 60px;
	padding: 0;
	margin:0;
}
.banner-title-cell
{
	display: table-cell;
	padding: 0;
	margin: 0;
}
.banner-title
{
	font-weight: 500;
	font-size: 26px;
	letter-spacing: -2px;
	vertical-align: middle;
	word-break: break-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	color: #777;
	padding-top:12px;
}



h2, .h2 {
font: 20px/1 Merriweather,Georgia,serif;
color: #4a5158;
	background-color: black;
	padding: 4px 14px 4px 14px;
	margin: 0px 0px 0px 0px;

	background: linear-gradient(#fff,#f5f5f5 98%,#fff 100%);
	background-image: -webkit-gradient(
						linear,
						left top,
						left bottom,
						color-stop(0.0, #fff),
						color-stop(0.8, #f5f5f5),
						color-stop(0.99, #fff));

}



h2.banner
{
	background: linear-gradient(#000,#050505 98%,#000 100%);
		background-image: -webkit-gradient(
						linear,
						left top,
						left bottom,
						color-stop(0.0, #000),
						color-stop(0.8, #050505),
						color-stop(0.99, #000));
	color:white;
	padding: 4px 14px 4px 14px;
	margin: 1px 0px 0px 0px;
}
.leftmenu
{
	position: absolute;
	left: 0px;
	top: 30px;
	width: 40px;
	bottom: 0px;
	font-size: 8px ; 
	font-style:italic;
	border-right: 1px solid #bbbbbb;
}
.rightcontent
{
	position: absolute;
	top: 30px;
	right: 0px;
	width: 38px;
	bottom: 0px;
	border-left: 1px solid #bbbbbb;
}
.menubody
{
	position: absolute;
	left: 42px;
	top: 30px;
	right: 40px;
}
p
{
	margin: 0px 2px 2px 2px;
}
.gs-button
{
	font-family: Helvetica ; 
	font-weight: 700 ; 
	font-size: 16px ; 
	padding-top: 16px; 
	padding-bottom: 16px; 
	height:16px;
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	border-radius: 48px;
	border: 1px solid black;
	color: #333; 
	background-color: blue;
	min-width:80px;
	width:80px;
	margin:4px;
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#BBB'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#BBB)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFF,  #BBB); /* for firefox 3.6+ */
	border: 1px solid #999;
	-webkit-box-shadow: 1px 1px 1px #FFF;
	cursor: pointer;
}
#loginButton
{
	visibility:hidden;
	position: absolute;
	right: 2px;
	top: 2px;
	height:40px;
	width:40px;
	padding: 4px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid #16a085;
	filter:alpha(opacity=10);
	opacity:0.1;
	background-color: #16a085;
	margin:4px;
	cursor: pointer;
}
#loginButton:hover
{
		filter:alpha(opacity=90);
	    opacity:0.9;
}
#loginButton:active
{
		filter:alpha(opacity=50);
	opacity:0.5;
}
#myAccountButton
{
	visibility:hidden;
	position: absolute;
	right: 56px;
	top: 2px;
	height:40px;
	width:40px;
	padding: 4px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid #16a085;
	filter:alpha(opacity=10);
	opacity:0.1;
	background-color: #16a085;
	margin:4px;
	cursor: pointer;
}
#myAccountButton:hover
{
		filter:alpha(opacity=90);
	    opacity:0.9;
}
#myAccountButtonactive
{
		filter:alpha(opacity=50);
	opacity:0.5;
}

.green-button
{
	font-family: Helvetica,Arial ; 
	display:none;
	font-weight: 700 ; 
	font-size: 12px ; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 12px; 
	padding-right: 12px; 
	height:12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	color: #333a6e; 
	background-color: blue;
	min-width:80px;
	width:165px;
	margin:5px;
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16a085', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#16a085), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #16a085,  #FFFFFF); /* for firefox 3.6+ */


	-webkit-box-shadow: 1px 1px 1px #16a085;
	cursor: pointer;
}
.green-button:hover
{

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16a085', endColorstr='#AAAAAA'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#16a085), to(#AAAAAA)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #16a085,  #AAAAAA); /* for firefox 3.6+ */

}

.green-button:active
{

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1ff4a', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#c1ff4a), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #c1ff4a,  #FFFFFF); /* for firefox 3.6+ */
	
		-moz-box-shadow: 0 0 3px #c1ff4a;
	-webkit-box-shadow: 0 0 3px #c1ff4a;
	box-shadow: 0 0 3px #c1ff4a;

}


.gs-green-button
{
	background:-webkit-gradient(linear, left top, left bottom, from(#0C0), to(#070));
	
	font-weight: 400 ; 
	color: #FFF; 
}
.gs-shadow
{
	-moz-box-shadow: 3px 3px 2px #888;
	-webkit-box-shadow: 3px 3px 2px #888;
	box-shadow: 3px 3px 2px #888;
}

.gs-portlet
{
		position: absolute;
		border:1px solid #999;
		background-color:white;
		border-radius:5px;   
		left: 5px; top: 5px; right: 5px; bottom: 5px;
		-moz-box-shadow: 3px 3px 2px #888;
		-webkit-box-shadow: 3px 3px 2px #888;
		box-shadow: 3px 3px 2px #888;
}
.gs-borderlayoutpanel
{

}

table.gs-grid
{
	width:100%;
	height:100%;
}

td.gs-grid
{
	vertical-align:middle;
}

.gs-scrollpanel
{
	position: absolute;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
}
.gs-scrollpanelbody
{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
}
.square-button
{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	display:inline-block;
	color: #fff;
	background-color: rgba(22,160,133,0.85);
	width:100px;
	height:100px;
	border-style: solid;
	border-color: #138a72;
	border-width: 1px;
	padding-top:2px;
	margin-top:2px;
	overflow: hidden;
	cursor: pointer;
}
.square-button:hover
{
	background-color: rgba(22,160,133,1);
	border-color: #010101;
}
.square-button .material-icons-outlined{
	font-size:75px;
	padding-bottom:2px;
}
.icon-text{
	padding-top:2px;
	font-size:16px;
}
.button-light
{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: rgba(22,160,133,0.85);
	border-color: #138a72;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,0.85);
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	border-style: solid;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	text-align: center;
	margin-bottom: 0;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	border-radius: 5px;
	transition-property: background, border;
	transition-duration: 0.25s;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-bottom-width: 2px;
	margin:8px;
	width: 240px;
		
	
}

.button-light:hover
{
	box-shadow: 0 1px 2px rgba(0,0,0,0.85);
}
	
.gs-buttondown
{
	background: #126EE4;
	color: #FFF;
	text-shadow: none;
	border-left: 1px solid rgba(0,0,0,.5); cursor: pointer; 
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 640px) {
	
.banner-title
{
	font-weight: 500;
	font-size: 22px;
}
#loginButton
{
	display:none;
}
}